*{
	margin: 0;
	padding: 0;

}
section{
		width:947px;
		height:auto;
		background:#fff;
		margin: 0 auto 0 auto;
	}

#logounb{
	position:relative;
	margin-left:1500px;
	margin-bottom:0px;
}
#logoinsoft{
	position:relative;
	margin-left:30px;
	margin-top:5px;
}
#facebookicon{
	margin-bottom: 10px;
	margin-left: 50px;
}
#twittericon{
	margin-bottom: 10px;
}

header{
		width:100%;
		height: 65px;
		background-color: ;
		border-bottom:solid 2px;
		

}

body{
		font-family:Arial;
		font-size:16px;
}

#logojiu{
	text-align: center;
	margin-bottom: 20px;
	border-bottom: solid 2px #000;
	
}



#imagem1{
	padding-left:180px;
	margin-bottom:-300px;

}
#titulo1{
	text-align: center;
}
#texto1 {
	width:400px ;
	height:200px;
	margin-left:480px;
	font-size:15px;
	background-color:;
	text-align: center;
	
}


#imagem2{
	position:relative;
	left:610px;
	margin-top: -200px;
}
#titulo2{
	text-align: center;
}
#texto2 {
	width:400px;
	height: 200px;
	background: ;
	position:relative;
	left: 80px;
	font-size:15px;
	text-align: center;
}

#imagem3{
	
	padding-left:160px;
	margin-bottom:-300px;
}
#titulo3{
	text-align: center;
}


#texto3 {
	width:400px ;
	height:200px;
	margin-left:480px;
	font-size:15px;
	background-color:;
	text-align: center;
}

#galeria {
	width: 100%;
	height: 200px;
	background: ;
	border-bottom:solid 2px;
	border-top:solid 2px;
}
#atleticajiu{
	padding:0px;
	margin-left: 0px;
}

footer{
	border-top: solid 2px #aaa;
	text-align: center;
	padding: 30px;
}