#imagem{
	width: 30%;
	height: 200px;
	background: red;
	position:relative;
	margin-left:150px;
	margin-bottom:-200px;
}

#texto {
	width: 50%;
	height: 200px;
	background: blue;
	position:relative;
	margin-left: 600px;
}

#galeria {
	width: 100%;
	height: 200px;
	background: #000;
	margin-bottom: 10px;
}

footer{
	border-top: solid 2px #aaa;
	text-align: center;
}