#imagem-topo{
	background-color: green;
	width: 744px;
	height: 1052px;
	background-image: url();
	background-repeat: no-repeat;
	
}

#imagem1{
	position:relative;
	margin-left:150px;
	margin-bottom:-200px;
}

#texto1 {
	width: 50%;
	height: 200px;
	background: blue;
	position:relative;
	margin-left: 600px;
}


#imagem2{
	position:relative;
	margin-left:900px;
	margin-top: -200px;
}

#texto2 {
	width: 50%;
	height: 200px;
	background: blue;
	position:relative;
	margin-left: 0px;
}


#imagem3{
	position:relative;
	margin-left:150px;
	margin-bottom:-200px;
}

#texto3 {
	width: 50%;
	height: 200px;
	background: blue;
	position:relative;
	margin-left: 600px;
}

#galeria {
	width: 100%;
	height: 200px;
	background: #000;
	margin-bottom: 10px;
}

footer{
	border-top: solid 2px #aaa;
	text-align: center;
}